body {
  font-family: sans-serif;
  background-color: aliceblue;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  max-width: 700px;
  margin: auto;
}



/*@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "about content";
    justify-content: center;
  }
}*/


/*.grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "about"
    "content";
  justify-content: stretch;
}
*/

.nav {
/*  grid-area: header;*/
  
  height: 46px;
  align-items: center;

  margin-left: auto;
  margin-right: 40px;
}

@media (min-width: 480px) {
  .nav {
    display: flex;
  }
}

.nav li {
  color: #798897;
  font-family: 'Nunito', serif;
  font-weight: 300;
}

.nav li:not(:last-child) {
  margin-right: 25px;
}

ul {
  padding: 0;
  list-style: none;
}

.about {
/*  grid-area: about;*/
  justify-self: center;
  border: 1px solid #ddd;
  margin: 40px;
}

.content {
/*  grid-area: content;*/
  justify-self: center;
  margin: 40px;
}

.card {
  border: 1px solid #ddd;
  margin-top: 10px;

  color: #798897;
  font-family: 'Nunito', serif;
  font-weight: 300;
}

h1 {
  color: #F95A55;
  font-size: 2.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

h2 {
  color: #F95A55;
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

p {
  color: #798897;
  font-family: 'Nunito', serif;
  font-weight: 300;
}

line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-width: 0;
  border-top: 2px solid #000;
  border-color: #FEB4AB;
  width: 40px;
  text-align: left;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

a:link {
  color: #FEB4AB;
}

a:visited {
  color: #FEB4AB;
}

a:hover {
  color: #F95A55;
}

a:active {
  color: #F95A55;
}

.icons {
  font-size: 30px;
}