body {
  font-family: sans-serif;
  background-color: aliceblue;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  grid-template-rows: 1em repeat(2, 75vh);
  grid-template-areas:
    "header"
    "about"
    "main";
  justify-content: center;
}

/*@media (min-width: 768px) {
  
}*/

/*@media (min-width: 320px) and (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-areas:
      "header"
      "about"
      "main";
    justify-content: center;
  }
}
*/
.header {
  grid-area: header;
  display: flex;
  justify-self: center;
  align-self: center;
  height: ;
}

.about {
  grid-area: about;
  max-width: 700px;

  /*background-color: lightblue;*/
  border: 1px solid #ddd;

  justify-self: center;
  align-self: center;

  margin: 10px;
}

.content {
  grid-area: main;
  color: red;
  background-color: lightpink;
  overflow: auto;

  margin: 10px;
}

h1 {
  color: #F95A55;
  font-size: 2.5em;
}

p {
  color: #BC827B;
}

line {
  margin-top: 4rem;
  margin-bottom: 6rem;
  border-width: 0;
  border-top: 2px solid #000;
  width: 40px;
  text-align: left;
  margin-left: 0;
}

a:link {
  color: #FEB4AB;
}

a:visited {
  color: #FEB4AB;
}

a:hover {
  color: #FDD0CA;
}

a:active {
  color: #FDD0CA;
}

.icons {
}

.card {
  height: 500px;
  border: 1px solid #ddd;
  margin: 10px;
}